
<div class="nav">
    <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Feed</a></li>
        <li><a href="/you/library">Library</a></li>
    </ul>
</div>
<div class="form-search">
    <form action="">
        <input type="text" placeholder="Search" class="input-search">
        <i class="ti-search icon-search center-item"></i>
    </form>
</div>
<div class="nav-upload-music">
    <a href="/upload">Upload</a>
</div>
<div class="nav-user cursor-pointer nav-user-js">
    {{!-- {{#if user.avatar.url}}
    <img class="user-avatar" src="{{user.avatar.url}}" alt="">
    {{/if}} --}}
    {{#if user.avatar.url}}
        <img class="header-avatar-user" src="{{user.avatar.url}}" alt="">
    {{else}}
        {{!-- {{log user.username}} --}}
        <img class="preview-header-avatar-user" src="{{user.avatar.url}}" alt="" style="display: none;">

        <div class="header-avatar-fallback"
            style="background: {{avatarColor user.username}};">
            <h1 class="first-char-header">
                {{firstChar user.username}}
            </h1>
        </div>
    {{/if}}
    <i class="ti-angle-down"></i>
    <div class="option-user option-user-js">
        <ul>
            {{#if userID}}
            <li>
                <div class="icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                        <!-- đầu -->
                        <circle cx="12" cy="7" r="4"/>
                        
                        <!-- body -->
                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6"/>
                    </svg>
                </div>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <div class="icon">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2">
                        <path d="M20.8 4.6c-1.5-1.5-4-1.5-5.5 0L12 7.9 8.7 4.6c-1.5-1.5-4-1.5-5.5 0s-1.5 4 0 5.5L12 21l8.8-10.9c1.5-1.5 1.5-4 0-5.5z"/>
                    </svg>
                </div>
                <a href="/you/likes">Likes</a>
            </li>
            <li>
                <div class="icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <!-- user -->
                        <circle cx="10" cy="8" r="3"/>
                        <path d="M3 20c0-3 3-5 7-5"/>

                        <!-- dấu check -->
                        <path d="M15 14l2 2 4-4"/>
                    </svg>
                </div>
                <a href="/you/following">Following</a>
            </li>
            {{/if}}
            <li>
                <div class="icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <!-- cửa -->
                        <path d="M10 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h5"/>

                        <!-- mũi tên -->
                        <path d="M17 16l4-4-4-4"/>
                        <line x1="21" y1="12" x2="9" y2="12"/>
                    </svg>
                </div>
                {{#if userID}}
                    <a href="/logout">Logout</a>
                {{else}}
                    <a href="/signIn">Sign In</a>
                {{/if}}
            </li>
        </ul>
    </div>
</div>

<script type="module" src="/javascripts/views/profile.js"></script>
<script>
    const optionUser = document.querySelector('.option-user-js');
    const navUser = document.querySelector('.nav-user-js');
    
    navUser.addEventListener('click', function() {
        optionUser.classList.toggle('active');
        this.classList.toggle('active');
    })

    document.addEventListener('click', function(e) {
        if(!optionUser.contains(e.target) && !navUser.contains(e.target)){
            optionUser.classList.remove('active');
            navUser.classList.remove('active');
        }
    })
</script>
